body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: cyan;
    color: black;

}
h1{
color: bisque;

}
a{
    color: orange;
    text-decoration: none;

}
a:hover{
color: rgb(107, 62, 62);

}
ul>li{
    font-weight: bolder;
    color: azure;
}
h1+p{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 4px;
}
ul li:hover{
    color: blue;
}
p::first-letter{
    font-size: 200%;
    color: orangered;
}
